@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*PAGE ACCUEIL*/
.homePage {
    margin: 0;
    padding: 0;


}

#banner {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;

}




.presentation {
    font-family: "Belleza", sans-serif;
    color: #D1CBC8;
    margin-top: 2em;
}

#desc {
    font-family: "Lora", serif;
    color: #D1CBC8;
    font-size: 28px;
}

#navbar {
    background-color: transparent;
    height: 4em;
}



#logo {
    color: black !important;
    font-family: "Aladin", sans-serif;
    font-size: 1.5em;
}

/*Bouton accueil*/
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    border: 0;
    position: relative;
    overflow: hidden;
    border-radius: 10rem;
    transition: all 0.02s;
    font-weight: bold;
    color: rgb(33, 0, 85);
    z-index: 0;
    box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
}

.button:hover {
    background: rgb(193, 228, 248);
    color: rgb(33, 0, 85);
}

.button:active {
    transform: scale(0.97);
}

.hoverEffect {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hoverEffect div {
    background: rgb(222, 0, 75);
    background: linear-gradient(90deg, rgba(222, 0, 75, 1) 0%, rgba(191, 70, 255, 1) 49%, rgba(0, 212, 255, 1) 100%);
    border-radius: 40rem;
    width: 10rem;
    height: 10rem;
    transition: 0.4s;
    filter: blur(20px);
    animation: effect infinite 3s linear;
    opacity: 0.5;
}

.button:hover .hoverEffect div {
    width: 8rem;
    height: 8rem;
}

@keyframes effect {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Fin Bouton accueil*/



#contenuNav {
    font-family: "Arsenal", sans-serif;
    font-size: 20px;

}


#footer {
    background-color: rgba(0, 0, 0, 0.488)
}

/*FIN PAGE ACCUEIL*/



/*PAGE A PROPOS*/
#bodyApropos,
#projectsPage {
    background-color: #cec5daa8;
}

.aboutMe {
    font-family: "Belleza", sans-serif;
    font-size: 38px;
    text-transform: uppercase;
    color: #141414b3;
    position: relative;
}

.aboutMe:after {
    content: '';
    height: 2px;
    width: 20%;
    background: #00c8ea;
    position: absolute;
    left: calc(50% - 10%);
    bottom: -5px;
}

#conceptCoding {
    margin-top: -120px !important;
}

#mesCompetences {
    font-family: "Belleza", sans-serif;
    font-size: 38px;
    text-transform: uppercase;
    color: #141414b3;
    position: relative;
}

#mesCompetences::after {
    content: '';
    height: 2px;
    width: 14%;
    background: #00c8ea;
    position: absolute;
    left: calc(50% - 7%);
    bottom: -1px;
}

.aMonPropos {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    color: black;
    text-align: justify;
}

#CF2M {
    color: #6758ccc1;
    font-weight: bold;

}


.progress-bar {
    background: hsla(286, 98%, 83%, 1) 90% !important;
}

.progress2 {
    background: hsla(248, 53%, 57%, 1) 48% !important;
}

.skill {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: black;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #6758cc;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #b1dae7;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}

/*FIN PAGE A PROPOS*/

/*PAGE PROJETS*/
#mesProjets {
    font-family: "Belleza", sans-serif;
    font-size: 38px;
    text-transform: uppercase;
    color: #141414b3;
    position: relative;
}

#mesProjets::after {
    content: '';
    height: 2px;
    width: 10.5%;
    background: #00c8ea;
    position: absolute;
    left: calc(50% - 5%);
    bottom: -0.5px;
}

#projet3{
    height: 243px
}
.card-body{
    background-color: #ded8e6 !important;
}
.btnVoirPlus {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s linear;
    border-radius: 10px;
   border: none;
    padding: 5px 20px;
    background: #ded8e6;
    color: #6757cb;
    font-weight: bold;
}

.btnVoirPlus > svg {
    margin-left: 5px;
    transition: all 0.4s ease-in;
}

.btnVoirPlus:hover > svg {
    font-size: 1.2em;
    transform: translateX(6px);
}

.btnVoirPlus:hover {
    box-shadow: 10px 10px 40px #d1d1d1;
    transform: translateY(-5px);
}
.backgroundModal{
    background-color: #ded8e6 !important;
}
.modal-title{
    font-family: 'Poppins', sans-serif !important;
    color: #6757cb !important;
}
.iconeCocher{
    width: 20px !important;
    height: 20px !important;
}
.presentationProjets{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

/*FIN PAGE PROJETS*/

@media screen and (min-width: 400px) and (max-width: 991px){
    #conceptCoding {
        margin-top: -50px !important;
    }
    .presentation {
        margin-top: 13% !important;

    }
}


@media screen and (min-width:991px) and (max-width: 1530px) {
    .presentation {
        margin-top: 18% !important;
        font-size: 2em !important;
    }

    #desc {
        margin-top: -5% !important;
        font-size: 1.5em !important;
    }

    #btnAccueil {
        margin-top: 3% !important;
    }

    .aMonPropos {

        font-size: 13px;
    }
}



@media screen and (min-width: 1530px) and (max-width: 1918px) {
    .presentation {
        margin-top: 12% !important;
    }

    .aMonPropos {

        font-size: 15px;
    }

    #aboutMeMedia {
        margin-top: -20px !important;
    }

    #conceptCoding {
        margin-top: -120px !important;
    }
}


@media screen and (min-width: 1918px){
    .presentation {
        margin-top: 12% !important;
    }
}

