@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

.homePage {
    margin: 0;
    padding: 0;
    background-color: black;

}

h1 {
    color: #D1CBC8;
}

.presentation {
    font-family: "Belleza", sans-serif;
    color: #D1CBC8;
}

#navbar {
    background-color: black;
    height: 4em;
}

#logo {
    color: #D1CBC8;
    font-family: "Aladin", sans-serif;
    font-size: 1.5em;
}

.orange {
    color: #F17310;
}




a.nav-link,
a.nav-link:hover {
    color: #D1CBC8;
}

#contenuNav {
    font-family: "Arsenal", sans-serif;
    font-size: 20px;

}

#btn {
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 1px solid #F17310;
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 10px;
    font-weight: 500;
    color: #D1CBC8;
    background-color: black;
    margin-right: 15%;
}

#btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #F17310;
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

#btn:hover {
    color: black;
}

#btn:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

#btn:hover:before {
    top: -30px;
    left: -30px;
}

#btn:active:before {
    background: #F17310;
    transition: background 0s;
}

#footer {
    background-color: rgba(0, 0, 0, 0.488)
}