@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');

body {
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: transparent;
    height: 5em;
}

#logo {

    font-family: "Aladin", sans-serif;
    font-size: 1.5em;
}

#point {
    color: #f77510;
}